<div class="container h-75 d-flex flex-column justify-content-center align-items-center">
  <div class="col-md-12 w-75">
    <h2 class="mb-5">Forgot your password ?</h2>
    <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
      <!-- Email Input -->
      <input
        pInputText
        formControlName="email"
        class="w-100 mb-4"
        [ngClass]="{ 'is-invalid': isFieldInvalid() }"
        placeholder="Email"
      />

      <!-- Submit Button -->
      <button type="submit" class="mt-5 text-center w-100 py-3" [disabled]="resetPassword.invalid">
        Send code
      </button>
    </form>

    <p *ngIf="message" class="text-center mt-3 alert alert-success p-1">{{message}}</p>
    <p *ngIf="errormsg" class="text-center mt-3 alert alert-danger p-1">{{errormsg}}</p>
  </div>
</div>
