input:focus {
    outline: none;
    box-shadow: none;
  }

  h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;

  }


  form button{
    background-color: var(--main-color); 
    color: #fff;
    border-radius: 25px;
    padding: 8px;
    box-shadow: 0 18px 30px 0 #2F1C1C1A ;
 
 }
 .is-invalid {
  border: 1px solid red !important;
}
